<!--
  ~ Copyright (C) 2015-2017 jomp16
  ~
  ~ This file is part of habbo_r63b_v2.
  ~
  ~ habbo_r63b_v2 is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ habbo_r63b_v2 is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with habbo_r63b_v2. If not, see <http://www.gnu.org/licenses/>.
  -->

<!--suppress XmlUnboundNsPrefix -->
<Configuration shutdownHook="disable" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{dd/MM/yyyy HH:mm:ss} - [%-5level] --> (%logger{1}/%t) -> %msg%n}"/>
        </Console>
    </Appenders>
    <loggers>
        <Root level="all">
            <Appender-ref ref="Console"/>
        </Root>

        <Logger name="tk.jomp16" level="trace"/>
        <Logger name="com.github.andrewoma.kwery" level="error"/>
        <Logger name="io.netty" level="error"/>
        <Logger name="com.zaxxer" level="error"/>
        <Logger name="org.reflections" level="error"/>
        <Logger name="net.sf.ehcache" level="error"/>
    </loggers>
</Configuration>
