# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
classes/
out/

# Config, they contains sensitive info about my stuffs
config.json

# MOTD
motd/

plugins/

*.txt
*.tar.xz

camera_data/

!server/src/main/resources/ascii_art.txt