# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
classes/
out/

# Config, they contains sensitive info about my stuffs
config.json
config.yaml

# MOTD
motd/

plugins/

*.txt
*.tar.xz

camera_data/
PACKET_INFOS/
cache/
log4j2.private.xml

!server/src/main/resources/ascii_art.txt

.directory