# Created by .ignore support plugin (hsz.mobi)

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
classes/

# Config, they contains sensitive info about my stuffs
config.json

# JRebel
rebel.xml

# MOTD
motd/

*.pro

packet_infos/